@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Varela+Round&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.dark {
  background-color: #141d2e;
  color: #fff7f7;
  height: 100%;
}

.light {
  background-color: #f5f7ff;
  color: #141d2e;
}

.darkForm {
  background: #0f2027;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.darkSec {
  color: rgb(255, 255, 255);
  background: #0f2027;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.darkSocial {
  color: rgb(255, 255, 255);
}

.darkful {
  background-color: red;
  background: #304063;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.darkUl > a > li {
  color: white;
}

.container__App {
  height: 100%;
  padding-bottom: 30px;
}

.header__container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 55px;
  color: rgb(0, 0, 0);
}

.header__button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  outline-color: transparent;
  border: none;
  font-size: 17px;
  align-items: center;
  background-color: black;
  padding: 10px;
  margin-top: 3px;
  border-radius: 5px;
}

.bx {
  padding-left: 1rem;
  font-size: 20px;
}

.header__nav {
  display: flex;
  justify-items: center;
  align-items: center;
}

.search__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  position: relative;
  margin: 14px;
  padding: 14px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1rem 1.875rem -0.625rem rgba(70, 96, 187, 0.2);
}

.search__container > i {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search__container > input {
  display: flex;
}

.search__input {
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
  font-size: 14px;
}

.search__input::placeholder {
  color: black;
  font-size: 15px;
}

.search__button {
  background-color: #07f;
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0.8rem 1.12rem;
  position: absolute;
  right: 0.3rem;
  font-size: 1rem;
}

/* !! Parte de la informacion del usuario */

.user__container {
  background-color: #ffffff;
  margin: 14px;
  box-shadow: 0 1rem 1.875rem -0.625rem rgba(70, 96, 187, 0.2);
  border-radius: 0.9375rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user__info {
  display: flex;
}

.user__info__img {
  width: 60%;
  margin: 8px;
}

.user_info__personal {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.user__info__list {
  width: 30px;
}

.user__info__list__name {
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  padding-bottom: 8px;
}

.user__info__list__login {
  font-weight: 200;
  padding-bottom: 8px;
}

.user__info__list__time {
  padding-top: 6px;
}

.user__info__list__time__span {
  gap: 3rem;
}

.user__bio__git {
  padding: 15px;
  line-height: 25px;
  line-break: anywhere;
  margin-top: -32px;
}

.user__data__git {
  background-color: #f5f7ff;
  margin: 10px;
  gap: 10px;
  border-radius: 7px;
  box-shadow: 2px 2px 2px #a79e9e;
}

.user__data__git__title {
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
  font-weight: 400;
  padding: 7px;
}

.user__data__git__number {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  font-size: 18px;
  gap: 40px;
  padding-bottom: 8px;
}

/* Estilos para la social */

/* Estilos para la lista de redes sociales */
.user__info__social_git {
  margin-top: 20px;
}

.user__info__social_git__list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

.user__info__social_git__list a {
  text-decoration: none;
  color: #333;
}

.user__info__social_git__list li {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

/* Estilos para los íconos */
.user__info__social_git__list li i {
  font-size: 23px;
  margin-right: 5px;
}

/* Estilos para los textos */
.user__info__social_git__list li span {
  font-size: 14px;
}

/* Estilos para el enlace del perfil */
.user__info__social_git__list {
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  transition: background-color 0.3s;
}

.user__info__social_git__list a.user__info__:hover {
  background-color: #555;
}

/* Footer */

.footer__container {
  margin: 15px;
  padding: 8px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 2rem 1.875rem -0.625rem rgba(70, 96, 187, 0.2);
  border-radius: 10px;
}

.dark__footer {
  color: rgb(255, 255, 255);
  background: #0f2027;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.footer__container > p {
  text-align: center;
}

.footer__container > p > a {
  text-align: center;
  margin-left: 5px;
}

/* nav - Responsive */

/* Estilos generales para el menú */
.menu {
  display: flex;
  align-items: center;
}

/* Estilos para el botón de hamburguesa */
.menu-toggle {
  display: none; /* Ocultar en escritorio */
  cursor: pointer;
}

/* Estilos para las barras del botón de hamburguesa */
.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
}

/* Estilos para la lista de ítems del menú */
.menu-items {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

/* Estilos para los ítems del menú */
.menu-items li {
  cursor: pointer;
  padding-right: 5rem;
}

/* Consulta de medios para dispositivos móviles y tabletas */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Mostrar en móvil y tablet */
  }

  .menu-items {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 55px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: px 2rem;
    display: none;
    color: black;
    z-index: 10;
  }

  .menu-items > li {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }

  .menu-items.open {
    display: flex; /* Mostrar cuando se hace clic en el botón de hamburguesa */
  }
}

.dark__menu {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 10px;
}

/* Responsive desing */
@media (min-width: 500px) {
  .user__info__list__name {
    font-size: 22px;
  }
  .user__bio__git > p {
    font-size: 20px;
  }
  .user__data__git__title {
    font-size: 16px;
  }
  .user__data__git__number {
    font-size: 18px;
  }
  .search__container {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .user__container {
    margin: 0 auto;
    max-width: 474px;
    margin-top: 1rem;
  }
  .footer__container {
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 460px;
  }
  .search__input {
    font-size: 1.2rem;
  }
  .search__input::placeholder {
    font-size: 1.1rem;
  }
  .user__info__img {
    height: 5rem;
  }
}

@media (min-width: 1000px) {
  .search__container {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 1rem;
  }
  .user__container {
    margin: 0 auto;
    max-width: 825px;
    margin-top: 1rem;
  }
  .footer__container {
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 810px;
  }
  .user__info__social_git__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 2rem 5rem;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". .";
    margin: 0 auto;
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
  }

  .user__info__social_git__list > a > li > span {
    font-size: 1.1rem;
  }
}
